@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@use "variables";

:focus,
:focus-visible {
  border-radius: 4px;
  outline: 2px solid variables.$color-accent;
  outline-offset: 1px;
}

::selection {
  background-color: variables.$color-accent-20;
}

body {
  display: flex;
  flex-direction: column;
  color: variables.$color-slate-800;
  font-family: variables.$font-primary;
}
