@use "variables";
@use "typography";

@mixin card {
  container-type: inline-size;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: variables.$border;

  img {
    flex-grow: 1;
    object-fit: cover;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    padding: 0.5rem 0.75rem;
    border-top: variables.$border;

    @container (min-width: 256px) {
      flex-direction: row;
      padding: 0.75rem 2rem;
    }
  }

  .name {
    @include typography.large;
  }

  .price {
    @include typography.medium(700);
  }

  .tag {
    @include tag(outline);
    position: absolute;
    top: 0.5rem;
    left: -1px;
  }
}

@mixin tag($variant: fill, $size: medium) {
  padding: 0.25rem 0.75rem;

  @if $variant == "fill" {
    background-color: variables.$color-slate-800;
    color: variables.$color-white;
  } @else if $variant == "outline" {
    background-color: variables.$color-white;
    border: variables.$border;
    color: variables.$color-slate-800;
  } @else if $variant == "gradient" {
    background: linear-gradient(45deg, #cdc3ff, #aac9ff);
    color: variables.$color-slate-800;
  }

  @if $size == "medium" {
    @include typography.medium;
  } @else if $size == "small" {
    @include typography.tiny;
  }
}
