@use "variables";
@use "utils";

header {
  @include utils.grid(page);
  position: absolute;
  width: 100%;

  & > div {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.75rem 2rem;
    border: 1px variables.$color-slate-800 solid;
    background-color: variables.$color-white-20;
    backdrop-filter: blur(12px);

    @include utils.breakpoint(lg) {
      grid-column: span 4;
      margin: 2rem;
    }
  }

  a {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  nav {
    display: flex;
    gap: 1rem;

    span {
      @include utils.sr-only;
    }
  }
}
