@mixin grid($type) {
  display: grid;

  @if $type == "page" {
    grid-template-columns: repeat(12, 1fr);
  } @else if $type == "section" {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }
}

@mixin breakpoint($size) {
  @if $size == "md" {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == "lg" {
    @media (min-width: 1024px) {
      @content;
    }
  }
}

// https://tailwindcss.com/docs/screen-readers
@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
