$color-slate-800: #1e293b;
$color-slate-700: #334155;
$color-slate-500: #64748b;
$color-white: #fff;
$color-white-60: #ffffff99;
$color-white-20: #ffffff33;

$font-primary: "Outfit", sans-serif;

$border: 1px $color-slate-800 solid;

$transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
