*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1;
}

img,
picture,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

input,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  color: #1e293b;
  font-family: "Outfit", sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: absolute;
  width: 100%;
}
header > div {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.75rem 2rem;
  border: 1px #1e293b solid;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
@media (min-width: 1024px) {
  header > div {
    grid-column: span 4;
    margin: 2rem;
  }
}
header a {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
}
header nav {
  display: flex;
  gap: 1rem;
}
header nav span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  min-height: 100svh;
  background-color: #1e293b;
}
.hero h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  position: absolute;
  right: 2rem;
  top: calc(50% + 1rem);
}
@media (min-width: 1024px) {
  .hero h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    top: 25%;
  }
}
.hero img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero img:nth-of-type(1),
.hero img:nth-of-type(2) {
  grid-column: span 6;
}
.hero img:nth-of-type(3) {
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .hero img:nth-of-type(1) {
    grid-column: span 4;
  }
  .hero img:nth-of-type(2) {
    order: 3;
    grid-column: span 4;
  }
  .hero img:nth-of-type(3) {
    grid-column: span 8;
    grid-row: span 2;
  }
}

.featured {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem 0.5rem 0;
}
@media (min-width: 768px) {
  .featured {
    flex-direction: row;
  }
}
.featured .product {
  container-type: inline-size;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px #1e293b solid;
  min-height: calc(100svh - 1rem);
}
.featured .product img {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured .product footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  padding: 0.5rem 0.75rem;
  border-top: 1px #1e293b solid;
}
@container (min-width: 256px) {
  .featured .product footer {
    flex-direction: row;
    padding: 0.75rem 2rem;
  }
}
.featured .product .name {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.featured .product .price {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}
.featured .product .tag {
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px #1e293b solid;
  color: #1e293b;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: -1px;
}

.trending {
  margin: 2rem 0.5rem 0;
}
.trending h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}
.trending .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.trending .product {
  container-type: inline-size;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px #1e293b solid;
  grid-column: span 2;
}
.trending .product img {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.trending .product footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  padding: 0.5rem 0.75rem;
  border-top: 1px #1e293b solid;
}
@container (min-width: 256px) {
  .trending .product footer {
    flex-direction: row;
    padding: 0.75rem 2rem;
  }
}
.trending .product .name {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.trending .product .price {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}
.trending .product .tag {
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px #1e293b solid;
  color: #1e293b;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  position: absolute;
  top: 0.5rem;
  left: -1px;
}
@media (min-width: 768px) {
  .trending .product {
    grid-column: span 1;
  }
}

.latest-drops {
  position: relative;
  margin-top: 2rem;
}
.latest-drops video {
  height: 100svh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.latest-drops div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 32rem;
  width: 100%;
  padding-inline: 0.5rem;
}
.latest-drops h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.latest-drops table {
  width: 100%;
  border: 1px #1e293b solid;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-spacing: 0.5rem 1rem;
}
.latest-drops table th[scope=col] {
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.latest-drops table th[scope=row],
.latest-drops table td {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: normal;
  text-align: center;
}
.latest-drops table .tag {
  padding: 0.25rem 0.75rem;
  background-color: #1e293b;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
}
.latest-drops table .gradient {
  padding: 0.25rem 0.75rem;
  background: linear-gradient(45deg, #cdc3ff, #aac9ff);
  color: #1e293b;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
}/*# sourceMappingURL=style.css.map */